.env
.DS_Store
node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.env
yarn-error.log
.idea
/packages/twitter-bot/log.txt
/packages/twitter-bot/tweetsCache.sqlite
