.praise-page {
  @apply max-w-5xl mx-auto
}

.praise-box {
  @apply p-5 mb-5 break-words border rounded-lg shadow-sm bg-gray-50;
}

.praise-button {
  @apply px-4 py-2 font-bold text-white bg-gray-800 rounded hover:bg-gray-700;
}

.praise-button-disabled {
  @apply px-4 py-2 font-bold text-gray-500 bg-gray-700 rounded cursor-default;
}

.praise-button-round {
  @apply flex items-center justify-center rounded-full hover:bg-gray-300 w-7 h-7;
}

/* MUI Slider styles */
.local-MuiSlider-colorPrimary {
  @apply !text-gray-800;
}

.local-MuiSlider-disabled {
  @apply text-gray-400;
}
