@import "tailwindcss/base";

@import "tailwindcss/components";
@import "./custom-components.css";

@import "tailwindcss/utilities";
@import "./custom-utilities.css";

@layer base {
  html {
    background-color: #f3f4f6;
    @apply text-gray-800;
  }

  h2 {
    @apply text-xl font-semibold;
  }

  td,
  th {
    @apply p-2;
  }

  input[type=text] {
    border: 1px solid;
    border-color:  grey;
    border-radius: 10px;
  }

  input[type=text]:active{
    border: 3px solid;
    border-colour: blue;
  }
  
  input[type=text]:hover {
    border: 3px solid;
    border-color:  grey;
  }

}